<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.customtv.webplay">

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:requestLegacyExternalStorage="true">
        <activity
            android:name="com.customtv.webplay.WebViewPlayActivity"
            android:exported="true"
            android:screenOrientation="landscape" />
    </application>

</manifest>