<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.translate.postscreen">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <application
        android:allowBackup="true"
        android:requestLegacyExternalStorage="true">
        <activity
            android:name="com.activity.TouPingPostActivity"
            android:screenOrientation="landscape" />

        <service
            android:name="com.service.ScreenService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="mediaProjection" />
        <activity
            android:name="com.activity.TouPingReceiveActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.Base.FullScreen"  />
    </application>
</manifest>